UserClient/Service References/StoreService/StoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoreService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IStoreService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IStoreService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetProductsInStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsInStock" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetProductsInStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsInStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_addProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addProduct" />
  </wsdl:message>
  <wsdl:message name="IStoreService_addProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IStoreService_PlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetCustomerOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerOrders" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetCustomerOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoreService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/Register" message="tns:IStoreService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/RegisterResponse" message="tns:IStoreService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/Authenticate" message="tns:IStoreService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/AuthenticateResponse" message="tns:IStoreService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsInStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetProductsInStock" message="tns:IStoreService_GetProductsInStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetProductsInStockResponse" message="tns:IStoreService_GetProductsInStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/addProduct" message="tns:IStoreService_addProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/addProductResponse" message="tns:IStoreService_addProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/PlaceOrder" message="tns:IStoreService_PlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/PlaceOrderResponse" message="tns:IStoreService_PlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetCustomerOrders" message="tns:IStoreService_GetCustomerOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetCustomerOrdersResponse" message="tns:IStoreService_GetCustomerOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoreService" type="tns:IStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IStoreService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IStoreService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInStock">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetProductsInStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="http://tempuri.org/IStoreService/addProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/IStoreService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetCustomerOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreService">
    <wsdl:port name="BasicHttpBinding_IStoreService" binding="tns:BasicHttpBinding_IStoreService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>